<footer class='footer bg-light text-dark mt-5 p-1 project-light'>
    <div class='container text-center text-md-center'>
        <div className='row text-center text-md-center'>
            <div class="col-md-4 col-lg-4 col-xl-4 mt-1 text-center align-items-center my-3 pt-3">
                <a class="navbar-brand mx-5" style="color: black" href="#">
                    <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    ElLogo
                </a>                 
                <div class='text-center mb-3'>
                    <p>
                        Contact Us: <strong>contacto@mail.com</strong>
                    </p>
                </div>        
                <div class='text-center '>
                    <ul class='list-unstyled list-inline'>
                        <p class='list-inline-item'>Find Us:</p>
                        <li class='list-inline-item'>
                            <a href="link de la red social" class='text-dark' target="blank"><i class='fab fa-twitter'></i></a>
                        </li>
                        <li class='list-inline-item'>
                            <a href="link de la red social" class='text-dark' target="blank"><i class='fab fa-linkedin-in'></i></a>
                        </li>
                        <li class='list-inline-item'>
                            <a href="link de la red social" class='text-dark' target="blank"><i class='fab fa-facebook'></i></a>
                        </li>
                        <li class='list-inline-item'>
                            <a href="link de la red social" class='text-dark' target="blank"><i class='fab fa-google-plus'></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
