<nav class="navbar navbar-light" style="background: #009d71;">
    <div class="container-fluid ms-5 m-2">
        <div class="d-flex">
            <a class="navbar-brand mx-5" style="color: white" href="#">
                <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                ElLogo
            </a>
            <form method="get" class="d-flex ms-3" action="{% url 'ecommerce:filterByName' %}"> 
                {% csrf_token %}               
                <input class="form-control me-2" name="name" type="search" placeholder="Search..." aria-label="Search">
                <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>      
        <div class="me-5">
            <i class="fa-solid fa-basket-shopping mx-4"  style="color: white"></i>
            <i class="fa-regular fa-user me-5"  style="color: white"></i>
        </div>
    </div>   
</nav>