<div class='col-md-4 col-lg-4 col-xl-4 mt-1 text-center'>
    <h5 class='text-uppercase font-weight-bold text-center'>About Us?:</h5>
    <hr class='mb-3' />
    <p>
        Small personal project primarily created with technologies like Python, Django, and Bootstrap, 
        with the goal of practicing certain skills such as creating and consuming external APIs.
        Designed to showcase a range of technologies and frameworks, this project represents my ongoing 
        journey in software development and web design. For more information, feel free to contact me or 
        visit my GitHub repository for the source code.
    </p>
</div>