{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="container">
        <h1 class="mt-2 me-5">Our products</h1>
        <div class="">            
            {% include 'includes/catalogue/categories.html' %}
        </div>
        <div class="">            
            {% include 'includes/catalogue/catalogue.html' %}
        </div>
    </div>        
</body>
</html>
{% endblock %}