{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div>
        <h1>List of categoria</h1>
        {% include 'includes/catalogue/categories.html' %}
    </div>
    <div class="row d-flex justify-content-center">
        <h1>List of products</h1>
        {% include 'includes/catalogue/catalogue.html' %}
    </div>    
</body>
</html>
{% endblock %}