{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="row d-flex justify-content-center">
        <h1 class="text-end me-5 pe-5">List of products</h1>
        <div class="col-2">            
            {% include 'includes/catalogue/categories.html' %}
        </div>
        <div class="col-8 ms-3">            
            {% include 'includes/catalogue/catalogue.html' %}
        </div>
    </div>        
</body>
</html>
{% endblock %}