{% extends "layout.html" %}
{% block content %}

<div class="my-3 mx-1 mx-sm-2 mx-mdx-3 mx-lg-4">
    <ul class= "d-flex mx-5">
        <a class="link-secondary link-offset-2 link-underline-opacity-0 link-opacity-25" href="/"> 
            <strong>
                <h7>Home</h7>
            </strong>
        </a>             
        <p class="mx-2 my-0"> / </p>
        <p class="my-0">Registration & Login</p>
    </ul>        
</div>
<div class="row m-1 justify-content-center">
    <div class="card m-0 col-11 col-sm-10 col-md-8 col-lg-4 border-light shadow">
        <div class="mx-4 mt-2">
            <h4>Login</h4>
        </div>         
        <div class="mx-4">
            <h6>Welcome Back</h6>                      
        </div>         
    </div>       
</div>
<div class="row m-1 mt-3 justify-content-center">     
    <div class="card col-11 col-sm-10 col-md-8 col-lg-4 border-light shadow">
        <form class="mx-4 my-3" method="post" action="{% url 'ecommerce:loginUser'%}">
            {% csrf_token %}
            <input type="hidden" name="destination" value="{{destination}}"/>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" name="user"  aria-describedby="emailHelp">
              <div class="form-text">We'll never share your email with anyone.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form> 
        <h5 class="mx-4 mb-3 text-danger">{{authError}}</h5>
        <hr class="mx-4 mt-0">
        <p class="text-center">New on AllStore? / <a href="singupUser">Sing up</a></p>      
    </div> 
</div>

{% endblock %}
