{% extends "layout.html" %}
{% block content %}

<div class="my-3 mx-1 mx-sm-2 mx-mdx-3 mx-lg-4">
    <ul class= "d-flex mx-5">
        <a class="link-secondary link-offset-2 link-underline-opacity-0 link-opacity-25" href="/"> 
            <strong>
                <h7>Home</h7>
            </strong>
        </a>             
        <p class="mx-2 my-0"> / </p>
        <p class="my-0">Shipment information</p>
    </ul>        
</div>    
<form class="my-2" method="post" action="{% url 'ecommerce:confirmOrder' %}">
{% csrf_token %}
    <div class="row m-1 justify-content-center">          
        <div class="card m-0 col-11 col-sm-10 col-md-8 col-lg-7 border-light shadow">
            <h2 class="mx-3">Summary</h2>
            <div class="d-flex">
                <h4 class="ms-3">Shopping Cart: {{request.session.cart.items|length}} items - </h4>
                <h4 class="ms-1"> $ {{request.session.totalAmount}}</h4>
            </div>
            <div class="d-flex justify-content-end m-2">          
                <button type="submit" value="Pay order" class="btn" style="background: #009d71; color: white">Pay order</button>   
            </div>
        </div>
        <div class="container p-0 my-4 col-11 col-sm-10 col-md-8 col-lg-7">
            <div class="card mb-3 border-light shadow">
                <div class="m-3 d-flex justify-content-center">
                    <div class="form-group mt-1 me-5">                            
                        <label for="name" class="form-label">Name:</label>
                        {{clientForm.name}} 
                        <label for="last_name" class="form-label">Last name:</label>                            
                        {{clientForm.last_name}}                                                 
                    </div>  
                    <div class="form-group mt-1">
                        <label for="phone" class="form-label">Phone:</label>      
                        {{clientForm.phone}}                      
                        <label for="address" class="form-label">Address:</label>  
                        {{clientForm.address}}                                                        
                    </div>                      
                </div>                    
            </div>
            {% for key, value in request.session.cart.items %}                            
            <div class="card my-2 border-light shadow">                  
                <div class="row g-0">
                    <div class="col-11 col-sm-8 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">
                        <img src="{{value.image}}" class="img-fluid m-1" style="width: 9rem; height: 10rem;">
                    </div> 
                    <div class="col-11 col-sm-8 col-md-6 col-lg-9 card-body d-flex flex-column justify-content-center">
                        <h5>{{value.title}}</h5>                        
                        <p class="m-0">{{value.category}}</p>
                        <p class="m-0 flex-grow-1">{{value.description}}</p> 
                        <p class="m-0">$ {{value.price}} - Items: {{ value.cuantity }}</p>                         
                    </div>                
                </div>                                     
            </div> 
            {% endfor %}    
        </div>
    </div>
</form>

{% endblock %}