{% extends "layout.html" %}
{% block content %}            
<div class="ms-5 mt-5">
    <div class="ms-5 d-flex justify-content-start">
        <a class="link-secondary link-offset-2 link-underline-opacity-0 link-opacity-25" href="/"> 
        <strong><h7>Home</h7></strong>
        </a>             
        <p class="mx-2 my-0"> / </p>
        <p class="my-0">Personal and shipping information</p>
    </div>        
</div>     
<form class="row mx-5 mt-3 d-flex justify-content-center" method="post" action="{% url 'ecommerce:confirmOrder' %}">
{% csrf_token %}        
    <div class="col-7">            
        <div class="card border-light shadow">
            <div class="mx-5 d-flex justify-content-center">
                <div class="form-group mt-1 me-5">                            
                        <label for="{{ clientForm.name.id_for_label }}">Name:</label>
                        <div>{{clientForm.name}}  </div> 
                        <label for="{{ clientForm.name.id_for_label }}">Last name:</label>                            
                        <div>{{clientForm.last_name}} </div>                                                   
                </div>  
                <div class="form-group mt-1">
                    <label for="{{ clientForm.name.id_for_label }}">Phone:</label>      
                    <div>{{clientForm.phone}}</div>                      
                    <label for="{{ clientForm.name.id_for_label }}">Address: <div>{{clientForm.address}}</div></label> 
                                                        
                </div>                      
            </div>                    
        </div>
        {% for key, value in request.session.cart.items %}
            <div class="card border-light shadow mt-2">
                <div class="mt-2">  
                    <div class="row g-0">
                        <div class="col-2 ms-3">
                            <img src="{{value.image}}" class="m-3" style= "width: 9rem; height: 10rem;">
                        </div>                    
                        <div class="col-6 ms-5">
                            <h5>{{value.title}}</h5>
                            <p class="card-text"  style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{value.description}}</p>
                            <p>$ {{value.price}} {{value.cuantity}}</p>
                            <p> {{value.category}} </p>
                        </div>
                    </div>                  
                </div>            
                <hr class="mb-2 mx-5">
                <div class="d-flex justify-content-end mb-2 mx-5">
                    <a href="{% url 'ecommerce:deleteProduct' value.product_id %}">
                        <button type="button" class="btn btn-outline-danger me-2">
                        X
                        </button>
                    </a>
                    <a href="">
                        <button type="button" class="btn" style="background: #009d71; color: white">
                            Buy
                        </button>
                    </a>                            
                </div>             
            </div>
        {% endfor %} 
    </div>
    <div class="card border-light shadow col-3" style="height: 12rem">
        <h2 class="d-flex justify-content-end me-3">Summary</h2>
        <div class="d-flex justify-content-between mx-3">
            <h3 class="me-3" >Items:</h3>
            <h3>{{request.session.cart.items|length}}</h3>
        </div>
        <div class="d-flex justify-content-between mx-3">
            <h3 class="me-3" >Total:</h3>
            <h3>{{request.session.totalAmount}}</h3>
        </div>
        <div class="d-flex justify-content-center mt-2">
            <a>
                <button type="button" class="btn" style="background: #009d71; color: white">
                    <input type="submit" value="Pay order">                                
                </button>
            </a>            
        </div>                
    </div>
</form>               
{% endblock %}