{% extends "layout.html" %}
{% block content %}
<div class="mx-5">
    <h2>Order number: {{order.order_number}}</h2>
    <div class="mt-2 d-flex justify-content-start">
        <a class="link-secondary link-offset-2 link-underline-opacity-0 link-opacity-25" href="/"> 
        <strong><h7>Home</h7></strong>
        </a>             
        <p class="mx-2 my-0"> / </p>
        <p class="my-0">Personal and shipping information</p>
    </div> 
    <div class="mt-2">
        <strong>
            Date: {{order.registration_date}}
        </strong>
    </div>
</div>
<div class="mx-5">
    <div class="card">
        {% for detail in order.product_set.all%}
            {{detail.title}}
        {% endfor%}
    </div>
</div>




{% endblock %}