{% extends "layout.html" %}
{% block content %}

<div class="my-4 mx-5 d-flex justify-content-center">
    <div class="card mx-5 border-light shadow" style="width: 65rem">
        <div class="mx-5 mt-2">
            <h2>Shopping Cart (intentar poner la cantidad de items)</h2>
        </div> 
        <div class="d-flex justify-content-start mx-5 my-3">
            <a href="{% url 'ecommerce:registerOrder' %}">
                <button type="button" class="btn me-3 p-1" style="background: #009d71; color: white">
                    Make Payment
                </button>
            </a>            
            <div>
                <p>Total: {{request.session.totalAmount}}</p>
            </div>
            <a href="{% url 'ecommerce:clearCart' %}">
                <button type="button" class="btn me-3 p-1" style="background: white; color: red">
                    Clean Cart
                </button>                
            </a>
        </div>
    </div>       
</div>
{% for key, value in request.session.cart.items %}
<div class="my-4 mx-5 d-flex justify-content-center">    
    <div class="card mx-5 border-light shadow" style="width: 65rem">
        <div class="row g-0">
            <div class="col-2">
                <img src="{{value.image}}" class="m-3" style= "width: 9rem; height: 10rem;">
            </div>
            <div class="col-md-9">
                <div class="card-body ">
                    <h5>{{value.title}}</h5>
                    <p class="card-text"  style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{value.description}}</p>
                    <p>$ {{value.price}} {{value.cuantity}} {{value.subtotal}}</p>
                    <p> {{value.category}} </p>
                    <div class="">
                        <button class="btn btn-light border-0 bg-white" type="button"><i class="fa-solid fa-chevron-up"></i></button>
                        <input type="text" class="form-control border-0" value="{{value.cuantity}}">
                        <button class="btn btn-light border-0 bg-white" type="button"><i class="fa-solid fa-chevron-down"></i></button>                       
                    </div>
                    <div class="">
                        <hr class="mb-2">
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'ecommerce:deleteProduct' value.product_id %}">
                                <button type="button" class="btn btn-outline-danger me-2">
                                    Remove
                                </button>
                            </a>
                            <a href="">
                                <button type="button" class="btn" style="background: #009d71; color: white">
                                    Add to Cart
                                </button>
                            </a>                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endfor %}


{% endblock %}